<nav>
    <ul>
        <li>
            <a [routerLink]="['/dashboard']">
                <i class="ion-radio-waves"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a>
                <i class="ion-ios-people"></i>
                My Events
            </a>
        </li>
        <li>
            <a>
                <i class="ion-chatbubbles"></i>
                Social
            </a>
        </li>
        <li>
            <a (click)="toggleSidebar()">
                <i class="ion-navicon-round"></i>
                More
            </a>
        </li>
    </ul>
</nav>
