sidebar {
    min-height: 100vh;
    width: 350px;

    background: #465153;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 125px;
    position: relative;
    transition: .3s all;
    z-index: 9998;

    .fab-wrapper {
        position: absolute;
        bottom: 30px;
        left: ~"calc(50% - 25px)";
    }

    header#product-title {
        background: #2e393b;
        color: #fff;
        width: 100%;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font: normal 18px "Montserrat", Helvetica, Arial, sans-serif;
        }
    }
    section#user-info {
        background: #11a7f3;
        color: white;
        min-height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: 0 20px;

        header {
            flex: 1;

            &:after {
                content: '';
                background: linear-gradient(rgba(0, 0, 0, .4), transparent);
                height: 10px;
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
            }

            h1, h2, h3 {
                float: left;
                flex: 0 0 100%;
            }

            h1 {
                font: 400 24px "Source Sans Pro", Helvetica, Arial, sans-serif;
                text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
                margin: 0px;
            }

            h2 {
                font: 400 14px "Source Sans Pro", Helvetica, Arial, sans-serif;
                margin: 0;
            }

            h3 {
                font: 400 14px "Source Sans Pro", Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                margin: 7px 0 0 0;
            }
        }

        figure {
            overflow: hidden;
            float: left;
            flex: 1;
            justify-content: center;
            margin-right: 15px;
            max-width: 75px;

            img {
                width: 73px;
                height: 73px;

                border: 2px solid white;
                border-radius: 100%;
                padding: 1px;
            }
        }
    }

    section.sidebar-group {
        margin: 20px 0 0 0;
        padding: 0;

        header h1 {
            font: normal 14px "Montserrat", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            color: white;
            padding: 20px;
        }

        button {
            color: white;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;

            &:hover, &:focus {
                background: rgba(255, 255, 255, .05);

                outline: none;
                text-shadow: 1px 0 0 1px rgba(0, 0, 0, .3);
            }

            i {
                width: 24px;

                font-size: 22px;
                text-align: center;
                display: block;
            }

            a {
                font: normal 16px "Source Sans Pro", Helvetica, Arial, sans-serif;
                color: white;
                text-decoration: none;
                margin: 10px 0;
                padding: 0 20px;
            }
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 420px) {
    sidebar {
        overflow-y: scroll;
        position: fixed;
        bottom: 0;
        top: 0;
        left: -350px;

        &.visible {
            left: 0;
            box-shadow: 0 100px 100px 100px rgba(0,0,0, .5);
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2)
and (min-device-width: 600px)
and (max-device-width: 1024px) {
    sidebar {
        width: 250px;

        section#user-info {
            figure {
                justify-content: center;
                display: flex;
                flex: 0 0 100%;
                max-width: none;
                padding: 15px 0;
            }

            header {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 25px;
                text-align: center;
            }
        }
    }
}
