<header id="product-title">
    <h1>
        {Hacks}
    </h1>
</header>
<section id="user-info">
    <header>
        <figure>
            <img src="https://avatars1.githubusercontent.com/u/740791?v=3&s=90" alt="Manuel Rauber">
        </figure>
        <h1>
            {{ user.name }}
        </h1>
        <h2>
            {{ user.title }}
        </h2>
        <h3>
            <i class="ion-android-pin"></i>
            {{ user.location }}
        </h3>
    </header>
</section>
<section class="sidebar-group">
    <header>
        <h1>Navigation</h1>
    </header>
    <nav role="navigation">
        <button [routerLink]="['/dashboard']">
            <i class="ion-radio-waves"></i>
            <a>
                Dashboard
            </a>
        </button>
        <button [routerLink]="['/hackathons']">
            <i class="ion-ios-people"></i>
            <a>
                My Events
            </a>
        </button>
        <button [routerLink]="['/hackathons']">
            <i class="ion-chatbubbles"></i>
            <a>
                Social
            </a>
        </button>
        <button [routerLink]="['/hackathons']">
            <i class="ion-clipboard"></i>
            <a>
                Documents
            </a>
        </button>
        <button [routerLink]="['/hackathons']">
            <i class="ion-person-stalker"></i>
            <a>
                Users
            </a>
        </button>
        <button [routerLink]="['/hackathons']">
            <i class="ion-ios-gear"></i>
            <a>
                Settings
            </a>
        </button>
    </nav>
</section>
<section class="sidebar-group">
    <header>
        <h1>Recently Visited</h1>
    </header>
    <nav>
        <button>
            <i class="ion-flash"></i>
            <a>
                Inno{Hacks} Mannheim
            </a>
        </button>
        <button>
            <i class="ion-flash"></i>
            <a>
                Hackathon
            </a>
        </button>
    </nav>
</section>
