<header class="card-header">
    <h1>
        {{ hackathon.name }}
    </h1>
    <h2>
        {{ hackathon.type }}
    </h2>
    <a role="button" [href]="getGMapsString(hackathon.address)" target="_blank">
        <i class="ion-map"></i>
    </a>
</header>
<div class="flex-container content">
    <section class="meta">
        <time>
            <strong>{{ hackathon.date | date:'d' }}</strong>
            {{ hackathon.date | date:'MMM' }}
        </time>
        {{ hackathon.host }}
        {{ hackathon.town }}
    </section>
    <section class="description">
        <p>
            {{ hackathon.description }}
        </p>
    </section>
</div>
