<section class="form">
    <header>
        <h1>Create new hackathon</h1>
    </header>
    <div class="form-content">
        <form>
            <fieldset>
                <h1>
                    Event Details
                </h1>
                <div class="form-element">
                    <label>Event Title</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label>Location</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label>Date</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label>Description</label>
                    <textarea></textarea>
                </div>
                <button type="submit" class="fab">
                    <i class="ion-submit"></i>
                </button>
            </fieldset>
        </form>
    </div>
</section>
<section class="preview">
    <header>
        <h1>Preview</h1>
    </header>
</section>
