@import (inline) '../css/reset.css';
@import 'components/_index.less';

* {
    box-sizing: border-box;
}

a, button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

.flex-container {
    display: flex;
}

app-root {
    font: normal 13px "Source Sans Pro", Helvetica, Arial, sans-serif;

    display: flex;
    min-height: 100vh;
}

dashboard {
    max-width: 100vw;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

loader {
    font: normal 30px "Montserrat";
    color: #465153;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    bracket {
        padding: 0 5px;
        will-change: transform, opacity;

        &:first-of-type {
            animation: loading-bracket 1.5s infinite;
            animation-delay: .5s;
        }
        &:last-of-type {
            animation: loading-bracket 1s infinite;
        }
    }
}

@keyframes loading-bracket {
    0% { opacity: .5; transform: scale(1.5) }
    50% { opacity: 1; transform: scale(1) }
    100% { opacity: .5; transform: scale(1.5) }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 420px) {
    app-root {
        padding: 75px 0;
    }
}

