@import 'components/_sidebar';
@import 'components/_hackathonCard';

* { box-sizing: border-box; }

a, button { cursor: pointer; }

button {
    background: none;
    border: none;
}

app-root {
    font: normal 13px "Source Sans Pro", Helvetica, Arial, sans-serif;

    display: flex;
    min-height: 100vh;
}

dashboard {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
