@import 'components/_sidebar';

button {
    background: none;
    border: none;
    cursor: pointer;
}

app-root {
    font: normal 13px "Source Sans Pro", Helvetica, Arial, sans-serif;

    display: flex;
    min-height: 100vh;
}
